* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: .5em;
    background-color: rgb(84, 117, 150);
    color: white;
    border: none;
    border-radius: 2.5px;
}

h1 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    background-color: rgb(40, 61, 82);
    color: white;
    padding: .5em;
}

button {
    border: none;
    border-radius: 2.5px;
    background-color: rgb(40, 61, 82);
    color: white;
    padding: .5em;
}