/**********************************
*              COLORS             *
**********************************/

root {
    --lightgrey: #ededed
    --darkblue: #1d1e3d
    --turquoise: #037d9d
    --orange: #fb8038
    --pink: #db0059
}

body {
    width: 100%;
    background-color: var(--lightgrey);
}

.header {
    display:block;
    margin:auto;
    width: 100%;
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color:white;
}