/******************************************************************************/
/*                               Généralités                                  */
/******************************************************************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

/******************************************************************************/
/*                               Wireframing                                  */
/******************************************************************************/
body * {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/******************************************************************************/
/*                                  Layout                                    */
/******************************************************************************/
.brand-tools {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
}

.header {
    background-color: green;
}

.main {
    background-color: yellow;
    width: 100%;
}
