#home ul,
#category ul {
    list-style: none;
    padding:0;
}

#username {
    font-size: 1.2rem;
    font-weight: bold;
    color: chocolate;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    display: flex;
    align-items: center;
}


