
/* *****************************************************************
GENERALITIES
***************************************************************** */

article + article {
	margin-top: 2em;
}

h2,
h3 {
	margin-top: 0;
}

.box {
	margin: 4em;
	padding: 4em;
	color: rgba(0,0,0,0.7);
	background-color: #eee;
}

/* *****************************************************************
GRADIENT
***************************************************************** */

.test-linear {
    background-image: linear-gradient(#fc3, #f63);
}

.test-linear-colors {
    background-image: linear-gradient(#9c3, #fc3, #f63);
}

.test-linear-angle {
    background-image : linear-gradient(90deg, #9c3, #fc3, #f63);
}

.test-linear-percent {
    background-image : linear-gradient(90deg, #9c3 40%, #fc3 40%, #f63 60%);
}

.test-linear-repeat {
    background-image: repeating-linear-gradient(90deg, #9c3, #fc3, #f63);
    background-size: 25%;
}

.test-radial {
    background-image: radial-gradient(#fc3, #f63);
}
.test-radial-circle {
    background-image: radial-gradient(circle, #fc3, #f63);
}
.test-radial-closest {
    background-image: radial-gradient(circle closest-side, #fc3, #f63);
}
.test-radial-closest-25 {
    background-image: radial-gradient(circle closest-side at 25%, #fc3, #f63);
}


