q {
    font-style: italic;
	quotes: "« " " »";
}

blockquote {
    font-size: 1.2rem;
    font-style: italic;
}

blockquote p::before {
	content: '❝ ';
}

blockquote p::after {
	content: ' ❞';
}

blockquote cite {
    font-style: normal;
    color: deepskyblue;
}