.test-simple {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 150px auto;
}

.test-simple-alt {
    display: grid;
    grid-template: auto / 150px auto;
}


.test-repeat {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
}

.test-gap {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
    row-gap: 2em;
    column-gap: 4px;
}

.test-gap-alt {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
    gap: 2em 4px;
}

/* justify-items */

.test-justify-items-center {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-items: center;
}

.test-justify-items-start {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-items: start;
}

.test-justify-items-end {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-items: end;
}


/* align-items */

.test-align-items-center {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: center;
    height: 50vh;
}

.test-align-items-start {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: start;
    height: 50vh;
}

.test-align-items-end {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: end;
    height: 50vh;
}

.test-align-items-stretch {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: stretch;
    /* Default */
    height: 50vh;
}

/* justify-content */

.test-justify-content-center {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-content: center;
}

.test-justify-content-start {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-content: start;
}

.test-justify-content-end {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-content: end;
}

.test-justify-content-between {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-content: space-between;
}

.test-justify-content-around {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-content: space-around;
}

.test-justify-content-evenly {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-content: space-evenly;
}

/* align-content */

.test-align-content-center {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-content: center;
    height: 50vh;
}

.test-align-content-start {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-content: start;
    height: 50vh;
}

.test-align-content-end {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-content: end;
    height: 50vh;
}

.test-align-content-between {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-content: space-between;
    height: 50vh;
}

.test-align-content-around {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-content: space-around;
    height: 50vh;
}

.test-align-content-evenly {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-content: space-evenly;
    height: 50vh;
}

.test-grid-items {
    display: grid;
    align-items: stretch;
    gap: 1rem;
}

.test-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.test-main {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.test-aside {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.test-footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.test-grid-items-alt {
    display: grid;
    align-items: stretch;
    gap: 1rem;
}

.test-header-alt {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.test-main-alt {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.test-aside-alt {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.test-footer-alt {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.test-grid-areas {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header header header" 
    "menu main aside" 
    "footer footer footer";
    gap: 1rem;
}

.test-grid-areas-header {
    grid-area: header;
}

.test-grid-areas-main {
    grid-area: main;
}

.test-grid-areas-aside {
    grid-area: aside;
}

.test-grid-areas-footer {
    grid-area: footer;
}
